.leave-message {

    .container {
        display: flex;
        background-color: #F0EFE9;
        padding: 80px;
        padding-left: 120px;
        padding-right: 120px;
        margin-bottom: 100px;


        h1 {
            text-align: center;
            font-weight: 600;
            font-size: 45px;
            margin-bottom: 30px;

            @media (min-width: 1200px) {
                padding-left: 200px;
                padding-right: 200px;
            }

            @media (min-width: 1400px) {
                padding-left: 300px;
                padding-right: 300px;
            }
        }

        .form-input {
            display: block;
            border: none;
            border-radius: 30px;
            padding: 20px;
            padding-left: 30px;
            margin-bottom: 20px;
            width: 100%;
        }

        textarea {
            resize: none;
            height: 160px;
        }

        .error {
            color: rgb(163, 24, 24);
            padding-bottom: 5px;
            padding-left: 20px;
        }

        .errorMessage {
            text-align: center;
            font-size: 1.5rem;
            color: rgb(163, 24, 24);
        }

        .thanksMessage {
            text-align: center;
            font-size: 1.5rem;
        }

        .btn-yellow {
            margin: 30px 0;
        }
    }
}